.header-container {
  position: relative;
  height: 300px;
  /* Możesz dostosować wysokość według potrzeb */

  .background-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('../img/LEOheader.jpg');
    /* Zastąp ścieżką do swojego obrazu */
    background-size: cover;
    background-position: top right;
    /* Obraz wypełnia całe tło, ustawione od prawego górnego rogu */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* Kolor tekstu, dostosuj do swojego projektu */
  }

    h1,
    h3 {
      position: relative;
      font-size: 48px;
      color: transparent;
    }
  
    h1::before,
    h3::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, #ff0000, #ff0000 50%, transparent 50%);
      background-size: 0.5em 0.5em;
      z-index: -1;
    }
  
    h1::after,
    h3::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, #ff0000, transparent 50%, #ff0000 50%);
      background-size: 0.5em 0.5em;
      z-index: -1;
    }
}