// AdditionalButtons.scss

.additional-buttons {
    &-container {
        margin: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        justify-content: space-around;
        flex-wrap: wrap;
        font-family: "Cascadia Code, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace";
    }

    // Specjalny styl dla przycisku o id:1
    .additional-button.additional-buttons-about.position-1 {
        width: 200px;
        height: 200px;
        color: red;
        background-color: #f5f5fa;
        // box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
        // transition: background-color 0.3s ease, box-shadow 0.3s ease;
        margin-left: 150px;
        transition: background-color 0.3s ease;
        box-shadow: -23px -23px 27px #f5f5f5 inset, 3px 3px 7px #bbc3cc inset;
        // box-shadow: (-3px -3px 7px #f5f5f5, 3px 3px 7px #bbc3cc);
        &:hover {
            background-color: #f5f5f5;
            box-shadow: (-23px -23px 27px #f5f5f5, 3px 3px 7px #bbc3cc);
            // box-shadow: 4px 4px 5px rgba(255, 0, 0, 0.5);
        }
        &:active {
            box-shadow: -23px -23px 27px #f5f5f5 inset, 3px 3px 7px #bbc3cc inset;
        }
    }

    // Specjalny styl dla przycisku o id:1, gdy jest zawarty w .main-button
    .main-button .additional-button.additional-buttons-about.position-1 {
        background-color: #ddd;
        color: red;

        &:hover {
            background-color: #eee;
        }
    }

    // Pozostałe style dla przycisków
    &-button {
        width: 500px;
        font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
        font-size: 1.5rem;
        border: none;
        color: #2a1f62;
        background: #f5f5fa;
        margin: 0;
        padding: 0;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f0f0f0;
        }

        &-resume {
            width: 500px;
            height: 200px;
            font-size: 3rem;

            &:hover {
                background-color: #45a049;
            }
        }

        &-about {
            background-color: #2196f3;
            color: white;

            &:hover {
                background-color: #0d47a1;
            }
        }
    }

    // Styl dla przycisków .main-button
    .main-button &-button {
        background: #f5f5fa;
        color: #2a1f62;

        &:hover {
            background-color: #f8f8ff;
        }

        &-resume {
            background-color: #4caf50;
        }

        &-about {
            background-color: #2196f3;
        }
    }
}