// AdditionalButtons.scss
.additional-buttons {
    &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &-button {
        width: 500px;
        font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
        font-size: 1.5rem;
        border: none;
        color: #2a1f62;
        background: #f5f5fa;
        margin: 0;
        padding: 0;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f0f0f0;
        }

        &-resume {
            // Dodatkowe style dla przycisku RESUME
            width: 500px;
            height: 200px;
            font-size: 3rem;

            &:hover {
                background-color: #45a049;
            }
        }

        &-about {
            // Dodatkowe style dla przycisku About ME
            background-color: #2196f3;
            color: white;

            &:hover {
                background-color: #0d47a1;
            }
        }

        // Dodaj style dla innych przycisków według potrzeb
        // ...
    }

    // Styl dla kontenera przycisków, jeśli jesteś zainteresowany
    // &-container {
    //     // Dodatkowe style dla kontenera
    // }

    // Zastosuj ogólne style zdefiniowane w MainButton
    .main-button &-button {
        background: #f5f5fa;
        color: #2a1f62;

        &:hover {
            background-color: #f8f8ff;
        }

        &-resume {
            background-color: #4caf50;
        }

        &-about {
            background-color: #2196f3;
        }

        // Dodaj style dla innych przycisków według potrzeb
        // ...
    }

    // Styl dla przycisku RESUME o id:5
    // .additional-buttons-resume {
    //     background-color: #f5f5fa;
    //     color: #2a1f62;

    //     &:hover {
    //         background-color: #f8f8ff;
    //     }
    // }
}

// Dodaj poniższe style do pliku AdditionalButtons.scss

.education-modal {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;

    h2 {
        color: #2a1f62;
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    // Dodaj styl dla informacji o edukacji, np. listy

    // .education-info {
    //     list-style: none;
    //     padding: 0;
    //     margin: 0;

    //     li {
    //         margin-bottom: 10px;
    //         font-size: 1.2rem;
    //         color: #333;
    //     }
    // }

    // .back-button {
    //     background-color: #2a1f62;
    //     color: #fff;
    //     border: none;
    //     padding: 10px 20px;
    //     font-size: 1.5rem;
    //     cursor: pointer;
    //     margin-top: 20px;

    //     &:hover {
    //         background-color: #1a103a;
    //     }
    // }
}