// MainButton.scss

@mixin button-common-properties {

    font-family: "Cascadia Code, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace";
    font-size: 1.5rem;
    border: none;
    color: #2a1f62;
    background: #f5f5fa;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    box-shadow: (-23px -23px 27px #f5f5f5, 23px 23px 27px #bbc3cc);
}

.main-button {
    position: relative;
    display: inline-block;

    button {
        @include button-common-properties;
        // width: 300px;
        // height: 200px;
        font-size: 3rem;
        

        &:active {
            box-shadow: -23px -23px 27px #f5f5f5 inset, 23px 23px 27px #bbc3cc inset;
            font-size: 3.5rem;
            user-select: none;
        }

        &:hover {
            background-color: #f8f8ff;
        }
    }

    .btn-wide {
        @include button-common-properties;
        // font-family: "Cascadia Code, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace";
        width: 500px;
        height: 200px;
        margin: 10px;
        border-radius: 3px;
        font-size: 3rem;
        color: #708090;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.visible {
        button {
            width: 150px;
        }
    }
}