// MainButton.scss
.main-button {
    position: relative;
    display: inline-block;
}

.button-welcome {
    font-family: "Cascadia Code, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace";
    // color: #000000;
    text-shadow: 0px 0px 10px #343333;
    width: 300px;
    height: 200px;
    cursor: pointer;
    background: #d6bdf1;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: -10px -10px 20px #caa6ee, 10px 10px 20px #af88dc, inset 10px 10px 15px #caa6ee, inset -10px -10px 15px #caa6ee;
    color: #d6bdf1;
    font-size: 3rem;

    &:hover {
            box-shadow: -15px -15px 25px #caa6ee, 15px 15px 25px #af88dc, inset 15px 15px 20px #af88dc, inset -15px -15px 20px #caa6ee;
            font-size: 3.15rem;
            transition: 500ms;
        }

    &:focus {
            outline: none;
        }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
